<a href="https://colab.research.google.com/github/Rano62/projet1/blob/master/yfiance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install yfinance

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/7a/e8/b9d7104d3a4bf39924799067592d9e59119fcfc900a425a12e80a3123ec8/yfinance-0.1.55.tar.gz
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.19.4)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.6/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading https://files.pythonhosted.org/packages/bd/78/56a7c88a57d0d14945472535d0df9fb4bbad7d34ede658ec7961635c790e/lxml-4.6.2-cp36-cp36m-manylinux1_x86_64.whl (5.5MB)
     |████████████████████████████████| 5.5MB 7.0MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.55-py2.py3-none-any.whl size=22616 sha256=4cddd0ecf44ff5e2b4d9787775017ad86f0ba7666a9c86b5ff80a1834a1521ae
  Stored in directory: /root/.cache/pip/wheels/04/98/cc/2702a4242d60bdc14f48b4557c427ded1fe92aedf257d4565c
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.2 yfinance-0.1.55

In [4]:
import yfinance as yf

list=("MSFT ORA.PA")
msft= yf.Ticker("MSFT")


# get stock info
msft.info

cac=yf.Ticker("^FCHI")

In [5]:
tickers=['RI.PA','ATO.PA','VIV.PA','KER.PA','WLN.PA','SGO.PA','UG.PA','LR.PA','CA.PA','BN.PA','SU.PA','VIE.PA','MC.PA','AI.PA','ORA.PA','HO.PA','BNP.PA','OR.PA','SAN.PA','CAP.PA','ACA.PA','ML.PA','GLE.PA','EN.PA','FP.PA','AC.PA','SW.PA','ENGI.PA','DG.PA','AIR.PA']

In [41]:
df1 =yf.download(tickers, period='1d')

[*********************100%***********************]  30 of 30 completed

In [42]:
df=df1.stack(level=-1)
df.reset_index(inplace=True)

In [43]:
df

         Date  level_1   Adj Close  ...         Low        Open   Volume
0  2021-01-05    AC.PA   29.070000  ...   28.600000   28.790001   522884
1  2021-01-05   ACA.PA   10.255000  ...   10.175000   10.245000  3519426
2  2021-01-05    AI.PA  135.000000  ...  133.899994  135.449997   735576
3  2021-01-05   AIR.PA   89.830002  ...   88.370003   88.550003  1567333
4  2021-01-05   ATO.PA   75.320000  ...   75.080002   75.959999   285079
5  2021-01-05    BN.PA   54.599998  ...   54.080002   54.200001  1552936
6  2021-01-05   BNP.PA   42.919998  ...   42.314999   42.720001  2852830
7  2021-01-05    CA.PA   15.010000  ...   14.285000   14.515000  7508843
8  2021-01-05   CAP.PA  126.599998  ...  126.300003  127.599998   373480
9  2021-01-05    DG.PA   81.320000  ...   80.760002   81.959999   993370
10 2021-01-05    EN.PA   34.130001  ...   33.639999   33.790001   691972
11 2021-01-05  ENGI.PA   12.615000  ...   12.460000   12.675000  5280811
12 2021-01-05    FP.PA   35.494999  ...   34.334999   34.599998  7310461
13 2021-01-05   GLE.PA   16.808001  ...   16.511999   16.572001  3719709
14 2021-01-05    HO.PA   76.220001  ...   74.519997   74.820000   340071
15 2021-01-05   KER.PA  571.500000  ...  568.599976  576.900024   169811
16 2021-01-05    LR.PA   75.500000  ...   74.900002   75.099998   580880
17 2021-01-05    MC.PA  506.200012  ...  503.399994  509.600006   303053
18 2021-01-05    ML.PA  104.500000  ...  103.949997  106.550003   489621
19 2021-01-05    OR.PA  308.500000  ...  306.600006  308.899994   322124
20 2021-01-05   ORA.PA    9.920000  ...    9.838000    9.954000  7803865
21 2021-01-05    RI.PA  155.399994  ...  154.800003  157.750000   403339
22 2021-01-05   SAN.PA   78.989998  ...   78.510002   79.169998  1541681
23 2021-01-05   SGO.PA   38.270000  ...   37.790001   38.020000  1329396
24 2021-01-05    SU.PA  120.599998  ...  119.099998  120.800003  1169025
25 2021-01-05    SW.PA   69.220001  ...   67.940002   68.099998   241292
26 2021-01-05    UG.PA   22.740000  ...   22.459999   22.639999  4101878
27 2021-01-05   VIE.PA   20.020000  ...   19.850000   20.000000  1498973
28 2021-01-05   VIV.PA   26.059999  ...   26.000000   26.200001  1630618
29 2021-01-05   WLN.PA   80.059998  ...   79.139999   80.000000   720880

[30 rows x 8 columns]

AttributeError: ignored

In [11]:
df.pivot(index="Date",columns="Close")

KeyError: ignored

In [ ]:
# get historical market data
#hist = msft.history(period="max")
hist = msft.history(period="1d")

In [ ]:
hist

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
1986-03-13    0.056367    0.064656  ...        0.0           0.0
1986-03-14    0.061893    0.065209  ...        0.0           0.0
1986-03-17    0.064103    0.065761  ...        0.0           0.0
1986-03-18    0.065209    0.065761  ...        0.0           0.0
1986-03-19    0.063551    0.064103  ...        0.0           0.0
...                ...         ...  ...        ...           ...
2020-12-07  214.369995  215.539993  ...        0.0           0.0
2020-12-08  213.970001  216.949997  ...        0.0           0.0
2020-12-09  215.160004  215.229996  ...        0.0           0.0
2020-12-10  211.770004  213.080002  ...        0.0           0.0
2020-12-11  210.050003  213.320007  ...        0.0           0.0

[8761 rows x 7 columns]

In [8]:
# show actions (dividends, splits)
msft.actions

# show dividends
msft.dividends

# show splits
msft.splits

# show financials
msft.financials
msft.quarterly_financials

# show major holders
msft.major_holders

# show institutional holders
msft.institutional_holders

# show balance sheet
msft.balance_sheet
msft.quarterly_balance_sheet

# show cashflow
msft.cashflow
msft.quarterly_cashflow

# show earnings
msft.earnings
msft.quarterly_earnings

# show sustainability
msft.sustainability

# show analysts recommendations
msft.recommendations

# show next event (earnings, etc)
msft.calendar

# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
msft.isin

'US5949181045'

In [ ]:
# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
msft.isin

'US5949181045'

In [ ]:
cac.history(period="max")["Close"]

Date
1990-03-01    1832.000000
1990-03-02    1860.000000
1990-03-05    1874.000000
1990-03-06    1872.000000
1990-03-07    1880.000000
                 ...
2020-12-08    5560.669922
2020-12-09    5546.819824
2020-12-10    5549.649902
2020-12-11    5507.549805
2020-12-14    5549.680176
Name: Close, Length: 7811, dtype: float64