<a href="https://colab.research.google.com/github/Rano62/projet1/blob/master/yfiance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install yfinance

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/a7/ee/315752b9ef281ba83c62aa7ec2e2074f85223da6e7e74efb4d3e11c0f510/yfinance-0.1.59.tar.gz
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading https://files.pythonhosted.org/packages/cf/4d/6537313bf58fe22b508f08cf3eb86b29b6f9edf68e00454224539421073b/lxml-4.6.3-cp37-cp37m-manylinux1_x86_64.whl (5.5MB)
     |████████████████████████████████| 5.5MB 9.2MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.59-py2.py3-none-any.whl size=23442 sha256=18a4a32556241bcbf697fcc9fe1e47c6d0bfefff83d245b9575c4e483dce9093
  Stored in directory: /root/.cache/pip/wheels/f8/2a/0f/4b5a86e1d52e451757eb6bc17fd899629f0925c777741b6d04
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.59

In [ ]:
import yfinance as yf

list=("MSFT ORA.PA")
msft= yf.Ticker("MSFT")


# get stock info
msft.info

cac=yf.Ticker("^FCHI")

In [ ]:
tickers=['RI.PA','ATO.PA','VIV.PA','KER.PA','WLN.PA','SGO.PA','LR.PA','CA.PA','BN.PA','SU.PA','VIE.PA','MC.PA','AI.PA','ORA.PA','HO.PA','BNP.PA','OR.PA','SAN.PA','CAP.PA','ACA.PA','ML.PA','GLE.PA','EN.PA','FP.PA','AC.PA','SW.PA','ENGI.PA','DG.PA','AIR.PA']

In [ ]:
df1 =yf.download(tickers, period='1d')

[*********************100%***********************]  29 of 29 completed

In [ ]:
df=df1.stack(level=-1)
df.reset_index(inplace=True)
df.rename(columns={'level_1': 'Ticker_ya'}, inplace=True)

In [ ]:
df

         Date Ticker_ya   Adj Close  ...         Low        Open   Volume
0  2021-03-31     AC.PA   32.340000  ...   32.310001   32.480000   184100
1  2021-03-31    ACA.PA   12.410000  ...   12.350000   12.415000  1301649
2  2021-03-31     AI.PA  140.350006  ...  138.899994  139.050003   231121
3  2021-03-31    AIR.PA   96.650002  ...   96.559998   97.070000   487237
4  2021-03-31    ATO.PA   67.059998  ...   65.980003   66.019997   170365
5  2021-03-31     BN.PA   58.700001  ...   58.599998   58.599998   381825
6  2021-03-31    BNP.PA   52.060001  ...   51.820000   52.349998   752286
7  2021-03-31     CA.PA   15.490000  ...   15.290000   15.320000   676453
8  2021-03-31    CAP.PA  147.050003  ...  146.000000  146.050003   107046
9  2021-03-31     DG.PA   87.760002  ...   87.639999   88.080002   319557
10 2021-03-31     EN.PA   34.459999  ...   34.299999   34.360001   201113
11 2021-03-31   ENGI.PA   12.060000  ...   12.020000   12.075000  1584201
12 2021-03-31     FP.PA   39.669998  ...   39.540001   40.029999  1931825
13 2021-03-31    GLE.PA   22.280001  ...   22.275000   22.350000  1191395
14 2021-03-31     HO.PA   85.080002  ...   84.720001   84.879997   120238
15 2021-03-31    KER.PA  591.400024  ...  589.500000  591.000000    32250
16 2021-03-31     LR.PA   79.720001  ...   78.800003   79.040001    94820
17 2021-03-31     MC.PA  566.900024  ...  564.900024  573.500000   109478
18 2021-03-31     ML.PA  128.449997  ...  127.849998  129.000000    91819
19 2021-03-31     OR.PA  327.600006  ...  326.500000  327.899994    80627
20 2021-03-31    ORA.PA   10.510000  ...   10.475000   10.485000  2097425
21 2021-03-31     RI.PA  160.800003  ...  160.350006  161.199997    65873
22 2021-03-31    SAN.PA   84.269997  ...   83.720001   83.930000   443481
23 2021-03-31    SGO.PA   50.980000  ...   50.820000   51.400002   307235
24 2021-03-31     SU.PA  129.949997  ...  127.849998  128.000000   306677
25 2021-03-31     SW.PA   82.919998  ...   82.180000   82.300003   154724
26 2021-03-31    VIE.PA   21.920000  ...   21.559999   21.559999   556805
27 2021-03-31    VIV.PA   28.000000  ...   27.850000   27.950001   434430
28 2021-03-31    WLN.PA   72.199997  ...   71.099998   71.099998   144484

[29 rows x 8 columns]

In [ ]:
import pymongo                            # Library to access MongoDB
from pymongo import MongoClient           # Imports MongoClient 

# uri (uniform resource identifier) defines the connection parameters 
# uri = 'mongodb:// USER : PASSWORD @ SERVER_NAME : PORT / DATABASENAME')
# uri = 'mongodb:// USER : PASSWORD @ SERVER_NAME : PORT / DATABASE_NAME, CLUSTER_1_NAME : PORT , CLUSTER_2_NAME : PORT')
# uri = 'localhost:27017'
uri = 'mongodb://superuser:Rose13@127.0.0.1:27017/bourse'

# start client to connect to MongoDB server 
client = MongoClient( uri )

db = client.bourse               # Set the database to work on
db.list_collection_names()                # List the collections available

ServerSelectionTimeoutError: ignored

In [ ]:
# get historical market data
#hist = msft.history(period="max")
hist = msft.history(period="1d")

In [ ]:
hist

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
1986-03-13    0.056367    0.064656  ...        0.0           0.0
1986-03-14    0.061893    0.065209  ...        0.0           0.0
1986-03-17    0.064103    0.065761  ...        0.0           0.0
1986-03-18    0.065209    0.065761  ...        0.0           0.0
1986-03-19    0.063551    0.064103  ...        0.0           0.0
...                ...         ...  ...        ...           ...
2020-12-07  214.369995  215.539993  ...        0.0           0.0
2020-12-08  213.970001  216.949997  ...        0.0           0.0
2020-12-09  215.160004  215.229996  ...        0.0           0.0
2020-12-10  211.770004  213.080002  ...        0.0           0.0
2020-12-11  210.050003  213.320007  ...        0.0           0.0

[8761 rows x 7 columns]

In [ ]:
# show actions (dividends, splits)
msft.actions

# show dividends
msft.dividends

# show splits
msft.splits

# show financials
msft.financials
msft.quarterly_financials

# show major holders
msft.major_holders

# show institutional holders
msft.institutional_holders

# show balance sheet
msft.balance_sheet
msft.quarterly_balance_sheet

# show cashflow
msft.cashflow
msft.quarterly_cashflow

# show earnings
msft.earnings
msft.quarterly_earnings

# show sustainability
msft.sustainability

# show analysts recommendations
msft.recommendations

# show next event (earnings, etc)
msft.calendar

# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
msft.isin

'US5949181045'

In [ ]:
# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
msft.isin

'US5949181045'

In [ ]:
cac.history(period="max")["Close"]

Date
1990-03-01    1832.000000
1990-03-02    1860.000000
1990-03-05    1874.000000
1990-03-06    1872.000000
1990-03-07    1880.000000
                 ...
2020-12-08    5560.669922
2020-12-09    5546.819824
2020-12-10    5549.649902
2020-12-11    5507.549805
2020-12-14    5549.680176
Name: Close, Length: 7811, dtype: float64

In [ ]:
pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.7/dist-packages (3.11.3)

In [ ]:
pip install pymongo[srv,tls,snappy]

Collecting pymongo[snappy,srv,tls]
  Using cached https://files.pythonhosted.org/packages/f2/f8/1c1e4800b24bc72228fdad9d5683ff40ce5827cf33a87e9ae266e9c2fdbe/pymongo-3.11.3-cp37-cp37m-manylinux2014_x86_64.whl
Collecting python-snappy; extra == "snappy"
  Using cached https://files.pythonhosted.org/packages/df/bd/a1040e2e04df42fb07e080e74f6464f6a5898bdefe6d08a210e3c3278fb9/python_snappy-0.6.0-cp37-cp37m-manylinux2010_x86_64.whl
Requirement already satisfied: dnspython<2.0.0,>=1.16.0; extra == "srv" in /usr/local/lib/python3.7/dist-packages (from pymongo[snappy,srv,tls]) (1.16.0)
Installing collected packages: python-snappy, pymongo
Successfully installed pymongo-3.11.3 python-snappy-0.6.0

In [ ]:
import pymongo

In [ ]:
pymongo.version

'3.11.3'

In [ ]:
!curl ipecho.net/plain

35.221.207.56

In [ ]:
pip uninstall pymongo

Uninstalling pymongo-3.11.3:
  Would remove:
    /usr/local/lib/python3.7/dist-packages/bson/*
    /usr/local/lib/python3.7/dist-packages/gridfs/*
    /usr/local/lib/python3.7/dist-packages/pymongo-3.11.3.dist-info/*
    /usr/local/lib/python3.7/dist-packages/pymongo/*
Proceed (y/n)? y
  Successfully uninstalled pymongo-3.11.3

In [ ]:
import dns
from pymongo import MongoClient

client = MongoClient("mongodb+srv://rano62:Isabel1312@cluster0.fogd9.mongodb.net/test?retryWrites=true&w=majority")

In [ ]:
client = pymongo.MongoClient("mongodb+srv://rano62:Isabel1312@cluster0.fogd9.mongodb.net/test?retryWrites=true&w=majority")
db=client.test

permet d'inserer une base de données nommée gettingStarted

In [ ]:
db=client.gettingStarted

create a collection name people for your database

In [ ]:
people =db.people

In [ ]:
import datetime
personDocument = {
  "name": { "first": "Alan", "last": "Turing" },
  "birth": datetime.datetime(1912, 6, 23),
  "death": datetime.datetime(1954, 6, 7),
  "contribs": [ "Turing machine", "Turing test", "Turingery" ],
  "views": 1250000
}

In [ ]:
people.insert_one(personDocument)

In [ ]:
people.find_one({ "name.last": "Turing" })

{'_id': ObjectId('60802ff12c0ce67540d9530f'),
 'birth': datetime.datetime(1912, 6, 23, 0, 0),
 'contribs': ['Turing machine', 'Turing test', 'Turingery'],
 'death': datetime.datetime(1954, 6, 7, 0, 0),
 'name': {'first': 'Alan', 'last': 'Turing'},
 'views': 1250000}

In [ ]:
test

NameError: ignored